.body{
    height: 100vh;
    background-color: black;
}

.planchet{
    min-height: 100vh;
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: p 8s;
}

@keyframes p{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.planchet img{
    width: 800px;
}