.roomOneBody{
    background: url("https://images.unsplash.com/photo-1572297905000-240a65cf5b03?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    animation: fade 7s;
}

.disp1{
    animation: fadein 16s forwards;
}

.text3{    
    color: rgba(255, 255, 255, 0.9);
    /* opacity: 0.4; */
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.9);
    text-align: center;
    font-family: 'Are You Serious', cursive; 
    font-size: 45px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fade 13s;
}

@keyframes fadein {
    0%{
        opacity: 1;
    }
    45%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.dis{
    display: block;
    opacity: 0;
    animation: fadeout 2s forwards;
}
.none{
    display: none;
}
.dis2{
    display: block;
    opacity: 0;
    animation: fadeout 4s forwards;
}
@keyframes fadeout {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.chr{
    color:red;
    font-weight: 900;
}

.vis{
    display: block;
}