.outerdiv{
	background-color: black;
	height: 100vh;
	/* width: 100vh; */
}

#body{
    background:  rgba(63, 5, 2, 0.6)  url("./house.jpg") no-repeat ;
    background-size: cover;
    background-blend-mode: multiply;
	position: absolute;
	width: 100vw;
	height: 100vh;
	animation: main 16s;
}

@keyframes main{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.btn{
    /* display: flex; */
    /* translate: 50%; */
    position: relative;
    z-index: 999;
    margin-top: 10%;
    margin-left: 48.4%;
    text-align: center;
    justify-content: center;
    /* top: 50%; */
    background: none;
    border: none;
    cursor: url("http://www.rw-designer.com/cursor-view/62073.png"), default;
}

.btn img{
    width: 50px;
    height: 50px;
    box-shadow: 1px 4px 6px 1px rgba(255, 54, 0, 0.9);
}

.text{
    color: rgba(255, 255, 255, 0.9);
    /* opacity: 0.4; */
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.9);
    animation: lightGlow 8s linear  reverse infinite;
}

.glow2{
    
    opacity: 1;
    animation: light 1.7s linear  reverse infinite;
}

.glow{
    opacity: 1;
    animation: light 2.4s linear  reverse infinite;
    /* box-shadow: -35px 0px 60px 8px rgba(255,255,255,1); */
}

/* .glow::after {
	content: '';
	width: 150%;
	-webkit-box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
	-moz-box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
	
} */



@keyframes light{
    0% {
		opacity: 0.4;
	}
	5% {
		opacity: 0.5;
	}
	10% {
		opacity: 0.6;
	}
	15% {
		opacity: 0.85;
	}
	25% {
		opacity: 0.5;
	}
	30% {
		opacity: 1;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.25;
	}
	45% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: 0.85;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
    from {
        text-shadow: 0 0 10px #FDF8F6, 0 0 14px #FDF8F6, 0 0 20px #FDF8F6, 0 0 30px #FDF8F6;
      }
      
      to {
        text-shadow: 0 0 10px #7E7A79, 0 0 14px #7E7A79, 0 0 20px #7E7A79, 0 0 30px #7E7A79;
      }
}

@keyframes lightGlow{
    0% {
		opacity: 1;
	}
	25% {
		opacity: 0.5;
	}
	45% {
		opacity: 0.2;
	}
	70% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}

